.paragrafo {
    text-align: left;
    color: white;
}

.margine1 {
    margin-bottom: 3%;
    margin-top: 2%;
}

.marginesopra {
    margin-top: 3%;
}

.nav-link {
    color: rgb(2, 0, 0);
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}

.citazione {
    font-style: italic;
    margin-top: 50px;
}

.colore-breadcrumb {
    color: white !important;
}

.breadcrumb {
    margin-top: 10px;
}