.small-button
{
	padding:0.4em 0.8em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    box-shadow:inset 0 -0.6em 0 -0.3em rgba(0,0,0,0.20);
}

.large-button
{
	padding:0.9em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    box-shadow:inset 0 -0.6em 0 -0.3em rgba(0,0,0,0.20);
    font-weight:bold;
    font-size:30sp;
}